black
bump2version
flake8
flake8-black
flake8-builtins
flake8-isort
ipython
jedi
mypy
pylint>=2.6.1
pytest
tox
twine
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
